.control {
    font-family: arial, serif;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0 solid #000000;
    border-radius: 0px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #2aa1c0;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-radio .control_indicator {
    border-radius: 50%;
}

.control-radio .control_indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffffff;
    transition: background 250ms;
}

.control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b;
    display: none;
}

.control-radio .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #2aa1c0;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}

@keyframes s-ripple {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0.01;
        transform: scale(1);
    }
}

@keyframes s-ripple-dup {
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.control-radio input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}

.control-radio input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}

.control-radio {
    font-size: 14px;
}


text {
    font-size: 2em;
}

.tick text {
    font-size: 1.6em;
    fill: #333333;
}


.tick line {
    stroke: #cccccc;
}

.container {
    max-width: 100vw !important;
}

#wrapper {
    height: 60vh;

    padding: 0 0 0 0 !important;
}

#word-box {
    position: absolute;
    /*background-color: #eaa3c4;*/
    /* -webkit-border-radius: 10px;*/
    /* -moz-border-radius: 10px;*/
    /* border-radius: 10px;*/
    /* border-color: #414141;*/
    /* border-style: solid;*/

    /*font-size: 20px !important;*/
    /* height: unset !important;*/
    /* padding: 3px 3px 3px 3px !important;*/
    pointer-events: none;

    /*color: white;*/
    /*text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;*/
    /* font-size: 1.8em;*/
    /* text-align: center;*/
}

#word-box {


    /*background: #88b7d5;*/
    /*border: 1px solid #414141;*/
}


#title {

    text-align: center;
    font-size: 20px;
}


#subtitle {

    text-align: center;
    font-size: 14px;
}


#header-row {
    height: 7vh;
}

#chart-row {
    height: 60vh;
}

#info-row {
    background-color: #252969;
    height: 33vh;
    display: flex;
    align-items: center;
}


#paper-list {
    overflow: auto;
    height: 28vh;
    margin-bottom: 25px;
    background-color: #ffffff;
    font-size: 14px;


}

#paper-list ul {
    list-style-type: auto;
}

#paper-list li::marker {
    font-size: 11px;

}

#year-list {
    margin-left: 1em;
}

.selected {
    background-color: #2aa1c0;
}

#term-list {
    overflow: auto;
    height: 28vh;
    margin-bottom: 25px;
    background-color: #ffffff;
    font-size: 14px;


    display: none;


}

#term-list ul {
    list-style-type: auto;
}

#term-list li::marker {
    font-size: 11px;

}

.term-display label {
    color: white;
    font-size: 18px;
}

.side-panel {
    border: 2px solid #1C6EA4;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

#topic-line, #topic-line2 {
    display: none;
}

#instruction-line, #topic-line, #topic-line2, #current-topic-count, #pubmed-rb-line {
    color: white;
    font-size: 16px;

}

.options-header {
    color: white;
}

#current-topic-count, #current-topic-count2, #current-topic, #current-year {
    font-weight: bold;
}

.control {
    color: white;
}


#options {

    min-width: 200px;
    max-width: 300px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 5px 5px 5px 5px;
    border: 2px solid white;
    border-radius: 10px;
}

#pubmed-datasource-in-title {
    font-weight: bold;
}

#ngram-size-in-title {
    font-weight: bold;


}

.box_with_arrow {
    padding: 5px;
}

.center-options {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.control-group-ngram {
    display: flex;
    justify-content: center;

}

.control-group-ngram .control {
    padding-right: 10px;
}

#ngram-line {
    margin-top: 10px;
    font-size: 16px;
}

#tension-line {
    margin-top: 10px;
    font-size: 16px;
}

.paper-display {
    padding-right: 45px;
}

.tooltip {
    display: inline-block;
    position: relative;
    /*border-bottom:1px dotted #666;*/
    text-align: left;
}

.tooltip .right {
    min-width: 150px;
    max-width: 250px;
    top: 50%;
    left: 100%;
    margin-left: 20px;
    transform: translate(0, -50%);
    padding: 2px 2px;
    color: #444444;
    background-color: white;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;

    /*visibility:hidden; opacity:0; transition:opacity 0.8s;*/
}

.tooltip:hover .right {
    /*visibility:visible; opacity:1;*/
}

.tooltip .right i {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
}

.tooltip .right i::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
    background-color: white;

}

.tooltip .left {
    min-width: 150px;
    /*max-width:300px;*/
    top: 50%;
    right: 100%;
    margin-right: 20px;
    transform: translate(0, -50%);
    padding: 2px 2px;
    color: #444444;
    background-color: white;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;

    /*display:none;*/
}

.tooltip:hover .left {
    display: block;
}

.tooltip .left i {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
}

.tooltip .left i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: white;

}

#theme-color {

    color: black;
    text-align: center;
}

/*noinspection CssInvalidPropertyValue*/
#river-word {
    background-color: white;
    color: black;
    font-size: 16px;
    text-wrap: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}

#tooltip-inner {
    background-color: white;
    color: black;
    border: 4px solid;
    border-radius: 8px;
}

#word-label-row {
    text-align: center;
    margin-bottom: 0px;
}


#word-label {
    /*    border: 2px orange solid;*/
    /*border-bottom: 0;*/
    /*margin-bottom: -7px;*/
    padding-right: 5px;
    padding-left: 5px;
    /*border-top-left-radius: 8px;*/
    /*border-top-right-radius: 8px;*/
}

.slidecontainer {


    text-align: center;

}

#myRange {
    height: 30px;

    display: inline-block;
    vertical-align: bottom;
    width: 50%;
}

#main-svg path:hover {
    transition: 0.1s;
    opacity: 1;

}


#topic-list {
    width: 100%;
}

#topic-list > tbody > tr > td:nth-child(1) {
    text-decoration: underline;
    color: var(--bs-link-color);
    width: 10%
}

#topic-list > tbody > tr > td:nth-child(2) {
    text-decoration: underline;
    color: var(--bs-link-color);
    width: 80%
}

#topic-list > tbody > tr > td:nth-child(3) {
    text-decoration: underline;
    color: var(--bs-link-color);
    width: 10%
}

.term-rank-number {
    font-size: 10px
}

#term-list thead {
    display: none;
}

#term-list thead th.Rank {
    width: 15%
}

#term-list thead th.Color {
    width: 15%
}

#menuv {
    padding: 0;
    border: none;
    font-size: 14px;
    font-family: verdana, sans-serif;
    width: 100%;
    margin: 1px;
}

.link a:hover {
    text-decoration: none;
}

#abstract-tooltip a, #abstract-tooltip a:visited {
    display: block;
}

#abstract-hover {
    background: #252969;
    position: absolute;


    line-height: 20px;
    padding: 10px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
}



.paper span {
    display: none;

}
